.highlight {
  background: skyblue;
}
.italic {
  font-style: italic;
}
.item-highlight::before {
  content: "▪ ";
}
.item-highlight::before::content {
  color: blue;
}
.icon-mag {
  color: gray;
  cursor: pointer;
}
.icon-cancel {
  cursor: pointer;
}
