input {
  width: 100%;
  border: 0px;
  line-height: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
}
input:focus {
  outline: none;
}
input::-webkit-search-cancel-button {
  display: none !important;
}

.highlight {
  background: skyblue;
}
.italic {
  font-style: italic;
}
.item-highlight::before {
  content: "▪ ";
}
.item-highlight::before::content {
  color: blue;
}
.icon-mag {
  position: absolute;
  left: 10px;
  top: 6px;
  color: gray;
  cursor: pointer;
}
.icon-cancel {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
